html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: var(--main-font);
    font-weight: 500;
    text-align: center;
    color: var(--primary);
    font-family: var(--h2);
}
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding-inline-start: 0;
      }    
        
      ul li a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
        color: #ffffff;
        transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
      }
      
      a:hover {
        color: var(--primary);
        transform: scale(1.1);
      }
      
      #pl, #by, #ru, #en {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      
      a#pl.active, a#by.active, a#ru.active, a#en.active {
        font-size: 18px;
        font-weight: 700;     
        color: var(--primary); 
      }    

      .lang {
        margin: 0 10px;
      }   
  
  .shake {
    animation: shake 0.5s;
  }
  
  @keyframes shake {10%, 90% {transform: translateX(-10px);}
      20%, 80% {transform: translateX(10px);}
      30%, 50%, 70% {transform: translateX(-10px); }
      40%, 60% {transform: translateX(10px);}
  }
  
  
  .nav-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    font-size: var(--h2-size);
    z-index: 5;
  }
  
  .navbar {
    display: flex;flex-direction: row;
    padding: 0.5rem 0 0;
    box-sizing: border-box;align-items: center;justify-content: space-between;
  }
  
  .phone, .icons {
    position: relative;
  } 

  @media screen and (min-width: 2000px) {
    body {height:100vh;}
  }
  
  @media screen and (max-width: 640px) {
      .phone {display: none;}
      .hero-text {max-width: 100%;}
      h1{
        font-size: 2rem;
      }
      .nav-menu a {
        display: flex;
      }
      .langSwitch {margin: 0}     
      .container{width:100%}           
    }

    @media screen and (min-width: 640px) {
      .nav-menu a {
        display: inline-block;
      }
      .tel {display: none;}
     }
  
    @media screen and (max-width: 950px) {
      h1{
        font-size: 1.6rem;
        margin: 1.5rem;
      }        
        .nav-menu a {
          padding: 0.5rem 5px 0.9rem;
          margin: 0 0.2rem;
      }
    }

    @media screen and (min-width: 950px) {
      .container {width: 70%;}
      .navbar {
        padding: var(--padding-13xl) var(--padding-111xl) 0;      
      }
      .nav-menu a {
        padding: 10px 5px;
        margin: 5px;  }    
    }
    
    @media screen and (max-width: 1299px) {
      .navbar {flex-direction: column;}
      .langSwitch {margin: 0.5rem 0 0.3rem}
      .nav-icons {gap: 0.8rem;margin: 0 0 0.5rem;}
    }

    .content {
        flex-grow: 1; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
  
  .logo-icon {
    width: 14.5rem;
    height: 5rem;
    flex-shrink: 0;
  }
  .posicon {
    position: relative;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    cursor: pointer;
  }
  .icons {
    text-decoration: none;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .icons:hover {
    transform: scale(1.1);
  }
  .phone {
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  footer {
    display: flex;
    background: var(--color-gray-200);
    padding: 40px 20px;
    color: #fff;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}
  
  .contacts span {
      margin: 0 10px;
  }
  
  .footer-contacts a{    
      font-size: 0.9rem;
      font-weight: 500;
      color: #fff;
      display: flex;
      align-items: center;
      text-decoration: none;
      margin: 0.5rem 0;
  }
  
  .contacts {
      display: flex;
      margin: 0 0 1rem;
      flex-wrap: wrap;
      justify-content: center;
  }
  
  small {
      color: #8a8a8a;
      font-size: 0.6rem;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }


  .video-background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    z-index: -1; 
}

video {
    position: absolute; 
    top: 50%;
    left: 50%;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    transform: translate(-50%, -50%); 
    object-fit: cover; 
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
}


.price-button-container  {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 2rem;
}

/* Стили для кнопки */
.price-button, button {
    padding: 15px 30px; /* Внутренние отступы */
    background-color: rgba(0, 0, 0, 0.7); /* Черно-прозрачный фон кнопки */
    color: #fff; /* Цвет текста кнопки */
    font-size: 1.5rem; /* Размер шрифта */
    border: 2px solid #ffffff; /* Белая обводка */
    border-radius: 5px; /* Закругленные углы */
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Тень кнопки */
    transition: background-color 0.3s, color 0.3s; /* Эффект перехода */
}

.price-button:hover, button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8); /* Светлый фон при наведении */
    color: #000; /* Черный текст при наведении */
}
   
  .nav-menu a:hover {
    animation: none;
  }
  
  .nav-menu a .gift-icon {
    margin: 2px 5px 0 0;
  }
  
  .nav-menu a .link-text {
    /*border: 2px solid var(--primary);
    border-radius: 20px;*/
    display: flex;  
    top: -3px;
    align-items: center;
  }

  .hamburger-menu {
    display: none;
    cursor: pointer;
  }
  
  .hamburger-icon {
    width: 30px;
    height: 20px;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .line {
    width: 30px;
    height: 3px;
    background-color: var(--primary);
    transition: 0.4s;
  }
  
  .line:nth-child(2) {
    width: 20px;
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .contact-info {
    text-align: center;
  }
  .flex {margin:0;}
  .mobile-nav-icons a {
    margin: 0 0.2rem 0 0.2rem;}
  
  @media screen and (max-width: 640px) {
    .hamburger-menu {
      display: block;
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 1100;
    }
  
    b.pokj {
      font-size: 1rem;
    }
  
    .logo-icon {
      margin: 0;    
      width: 10rem;
    }
    
  
    .flex {
      margin: 0 0 0 1.5rem;
    }
  
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-menu, .nav-icons, .langSwitch {
      display: none;
      background-color: white;
      position: absolute;
      top: 75px;
      left: 0;
      width: 100%;
      padding: 10px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    ul li a {
      display: flex;
      align-items: center;
      text-decoration: none;
      /* font-size: 1.2rem; */
      font-weight: 500;
      color: #000;
      transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
    .nav-menu.active, .nav-icons.active, .langSwitch.active, .overlay.nav-icons {
      /*display: block;*/
    }
    .mobile-langSwitch {
      margin-top: 4rem;
  }
  .mobile-nav-menu ul {
    flex-wrap: wrap;
  }
    .mobile-nav-menu ul li {
      padding: 0.2rem;
      margin: 1rem 0 1rem 0;
  }
    .overlay {
      display: none;
    }
  
    .overlay.active {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  .pricing-table {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.pricing-header {
    display: flex;
    background-color: #f3f3f3;
    font-weight: bold;
}

.pricing-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;    
    color: black;
    background-color: rgb(255 255 255 / 63%);
    border-bottom: 1px solid #eee;
}

.pricing-item {
    flex: 1;
    padding: 8px;
    text-align: center;
}
