body {
    font-family: var(--main-font);
    font-weight: 500;
    min-height: 50rem;
    background: linear-gradient(180deg, rgba(68, 112, 133, 0) 58.65%, rgba(68, 112, 133, 0.7) 74.27%, rgba(68, 112, 133, 0.7) 86.77%, #447085 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 66.98%, rgba(255, 255, 255, 0) 100%), url(/public/bg.webp);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat; 
    text-align: center;
    color: var(--primary);
    font-family: var(--h2);
  }
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding-inline-start: 0;
      }    
        
      ul li a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
        color: #343a40;
        transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
      }
      
      a:hover {
        color: var(--primary);
        transform: scale(1.1);
      }
      
      #pl, #by, #ru, #en {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      
      a#pl.active, a#by.active, a#ru.active, a#en.active {
        font-size: 18px;
        font-weight: 700;     
        color: var(--primary); 
      }    

      .lang {
        margin: 0 10px;
      }   
  
  .shake {
    animation: shake 0.5s;
  }
  
  @keyframes shake {10%, 90% {transform: translateX(-10px);}
      20%, 80% {transform: translateX(10px);}
      30%, 50%, 70% {transform: translateX(-10px); }
      40%, 60% {transform: translateX(10px);}
  }
  
  
  .nav-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    font-size: var(--h2-size);
    z-index: 5;
  }
  
  .navbar {
    display: flex;flex-direction: row;
    padding: 0.5rem 0 0;
    box-sizing: border-box;align-items: center;justify-content: space-between;
  }
  
  .phone, .icons {
    position: relative;
  } 

  @media screen and (min-width: 2000px) {
    body {height:100vh;}
  }
  
  @media screen and (max-width: 640px) {
      .phone {display: none;}
      .hero-text {max-width: 100%;}
      h1{
        font-size: 2rem;
      }
      .nav-menu a {
        display: flex;
      }
      .langSwitch {margin: 0}     
      .container{width:100%}           
    }

    @media screen and (min-width: 640px) {
      .nav-menu a {
        display: inline-block;
      }
      .tel {display: none;}
     }
  
    @media screen and (max-width: 950px) {
      h1{
        font-size: 1.2rem;
        margin: 0.5rem;
      }  
      .table-cell {padding:10px 0;}
      .table-row {padding: 20px 10px;justify-content: center;
        flex-direction: column;
        align-content: center;}
        .nav-menu a {
          padding: 0.5rem 5px 0.9rem;
          margin: 0 0.2rem;
      }
    }

    @media screen and (min-width: 950px) {
      .container {width: 70%;}
      .navbar {
        padding: var(--padding-13xl) var(--padding-111xl) 0;      
      }
      .nav-menu a {
        padding: 10px 5px;
        margin: 5px;  }    
    }
    
    @media screen and (max-width: 1299px) {
      .navbar {flex-direction: column;}
      .langSwitch {margin: 0.5rem 0 0.3rem}
      .nav-icons {gap: 0.8rem;margin: 0 0 0.5rem;}
    }

    @media screen and (min-width:1300px){
      li.price {
        background-color: #0f85c9;  
        border-radius: 15px;
      }
      
      li.price a {
      color: white;
      }
    }
  
  .content {
    width: 100%;
    height:100%;
    min-height: 80vh;
    padding: 0 var(--padding-13xl);
    box-sizing: border-box;  
  }
  
  @keyframes pulse {
    0% {transform: scale(1);box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);}
    50% {transform: scale(1.05);box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);}
    100% {transform: scale(1);box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);}
  }
  
  .change-block,
  .content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
  }
  .change-block {
    align-items: flex-start;
    gap: var(--gap-lg);  
  }
    
  .logo-icon {
    width: 14.5rem;
    height: 5rem;
    flex-shrink: 0;
  }
  .posicon {
    position: relative;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    cursor: pointer;
  }
  .icons {
    text-decoration: none;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .icons:hover {
    transform: scale(1.1);
  }
  .phone {
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  footer{
      display: flex;
      background: var(--color-gray-200);
      padding: 40px 20px;
      color: #fff;
      flex-direction: column;
      align-items: center;
  }
  
  .contacts span {
      margin: 0 10px;
  }
  
  .footer-contacts a{    
      font-size: 0.9rem;
      font-weight: 500;
      color: #fff;
      display: flex;
      align-items: center;
      text-decoration: none;
      margin: 0.5rem 0;
  }
  
  .contacts {
      display: flex;
      margin: 0 0 1rem;
      flex-wrap: wrap;
      justify-content: center;
  }
  
  small {
      color: #8a8a8a;
      font-size: 0.6rem;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
   
  .nav-menu a:hover {
    animation: none;
  }
  
  .nav-menu a .gift-icon {
    margin: 2px 5px 0 0;
  }
  
  .nav-menu a .link-text {
    /*border: 2px solid var(--primary);
    border-radius: 20px;*/
    display: flex;  
    top: -3px;
    align-items: center;
  }

  .hamburger-menu {
    display: none;
    cursor: pointer;
  }
  
  .hamburger-icon {
    width: 30px;
    height: 20px;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .line {
    width: 30px;
    height: 3px;
    background-color: var(--primary);
    transition: 0.4s;
  }
  
  .line:nth-child(2) {
    width: 20px;
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .contact-info {
    text-align: center;
  }
  .flex {margin:0;}
  .mobile-nav-icons a {
    margin: 0 0.2rem 0 0.2rem;}
  
  @media screen and (max-width: 640px) {
    .hamburger-menu {
      display: block;
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 1100;
    }
  
    b.pokj {
      font-size: 1rem;
    }
  
    .logo-icon {
      margin: 0;    
      width: 10rem;
    }
    
  
    .flex {
      margin: 0 0 0 1.5rem;
    }
  
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-menu, .nav-icons, .langSwitch {
      display: none;
      background-color: white;
      position: absolute;
      top: 75px;
      left: 0;
      width: 100%;
      padding: 10px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }
  
    .nav-menu.active, .nav-icons.active, .langSwitch.active, .overlay.nav-icons {
      display: block;
    }
    .mobile-langSwitch {
      margin-top: 4rem;
  }
    .mobile-nav-menu ul li {
      padding: 0.4rem;
      margin-bottom: 1rem;
  }
    .overlay {
      display: none;
    }
  
    .overlay.active {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }